{% extends 'base.html' %}

{% block Title %}
    I Translate..
{% endblock %}

{% block content %}

<div id="app" class="app app-full-height app-without-header">

<div class="error-page">

<div class="error-page-content">
<div class="card mb-5 mx-auto" style="max-width: 320px;">
<div class="card-body">
<div class="card">
<div class="error-code">404</div>
<div class="card-arrow">
<div class="card-arrow-top-left"></div>
<div class="card-arrow-top-right"></div>
<div class="card-arrow-bottom-left"></div>
<div class="card-arrow-bottom-right"></div>
</div>
</div>
</div>
<div class="card-arrow">
<div class="card-arrow-top-left"></div>
<div class="card-arrow-top-right"></div>
<div class="card-arrow-bottom-left"></div>
<div class="card-arrow-bottom-right"></div>
</div>
</div>
<h1>Oops!</h1>
<h3>Please make sure Network Connectivity is ok!,  the translation language pair is set!.....and the text you want to translate is a valid one for the language selected!</h3>
<hr />

<p class="mb-5">
<a href="javascript:window.history.back();" class="btn btn-outline-theme px-3 rounded-pill"><i class="fa fa-arrow-left me-1 ms-n1"></i> Go Back</a>
</div>

</div>


<a href="#" data-toggle="scroll-to-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>

</div>

{% endblock %}